*{margin:0;padding:0}html,body,#app,.app-container{height:100%}.app-container{padding:50px}.app-container .button{background:#3cc51f;width:100%;display:block;margin-bottom:10px;border-radius:10px;color:#fff;padding:20px;border:none}.app-container .button:active{background:#2f9918}.app-container .button:focus{outline:none}

