@import "@/components/style.scss";
@import "~@feizheng/react-github-corner/dist/style.scss";
@import "~@feizheng/react-sw-update-tips/dist/style.scss";


.app-container {
  padding: 50px;
  box-sizing: border-box;
  .is-item {
    margin-bottom: 10px;
  }
}
