*{margin: 0;padding:0;box-sizing: border-box;}
ul,li{list-style: none;}

@import './components/style.scss';
@import './assets/antd.min.css';

.hello-react-ant-radio-group{
  color:#F00;
  padding:50px 20px;
}
